body {
    background-image : url('./img/bg.png');
}

i {
    margin-right: 3px;
}

.module {
    background-color: white;
    border: 1px solid rgba(0,0,0,.1);
    padding: 8px;
    border-radius: 6px;
    margin-top: 8px;
}

.table-centered td {
    text-align: center;
    vertical-align:middle;
    
}

.text-centered {
    text-align: center;
}
